@keyframes tickerAnimation {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }
  
@keyframes slideFade {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 100%;
    }
}

  