@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes tickerAnimation {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideFade {
  0% {
      margin-top: 50px;
      opacity: 0;
  }
  100% {
      margin-top: 0px;
      opacity: 100%;
  }
}

body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: white;
  overflow: auto;
  animation-name: slideFade;
  animation-duration: 1.5s;
  animation-direction: ease-out;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexEnd {
  justify-content: flex-end;
}

.links {
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.navbar {
  margin-bottom: 15vh;
  background-color: #F0F0F0;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.lineBreak {
  border-inline: 0px;
  border-top: 0px;
  border-bottom: 100%;
  border-style: solid;
  border-color: #E0E6F1;
  height: 1px;
  width: 100%;
}

.navbarBox {
  flex: auto;
  max-width: 30%;
  max-height: inherit;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  font-size: 100%;
  color: #727272;
  text-decoration: none;
}

.navbar-item:hover {
  color: #000000;
}

.mainContainer {
    height: 40vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}



.introBox {
  flex: auto;
  max-width: 25vw;
  max-height: 100%;
  height: 60%;
  justify-content: center;
}

.welcomeBox {
  height: 300px;
  width: 100%;
}

.recentBox {
  height: 500px;
  width: 100%;
}

.workBox {
  height: 40%;
  width: 20%;
  margin: 15px;
  padding: 15px;
  min-height: 200px;
  min-width: 200px;
}

.workImage {
  width: 200px;
}



.icon-button {
  font-size: 2.5vw;
  color: #BEA4B4;
  padding: 1%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.icon-button:hover {
  border-color: transparent;
  color: rgb(255, 255, 255);
  background-color: rgb(209, 179, 179);
}

.textBox {
}

.textBox p{
  font-size: 2vw;
  margin: 0;
  margin-bottom: 8%;
}

.textBox svg {
  /* align-self: flex-start; */
}

.textAdder {
    color: #235572;
}


.viewButton {
  border-color: transparent;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  background-color: rgb(209, 179, 179);
  cursor: pointer;
}

.viewButton:hover {
  background-color: rgb(224, 191, 191);
}

.viewButton:active {
  background-color: rgb(197, 131, 131);
}

.animationOne {
  white-space: pre;
}

.tickerBar {
  border-block: 0px;
  border-right: 0px;
  border-left: 1px;
  height: 3vw;
  border-color: black;
  border-style: solid;
  animation-name: tickerAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.bolder {
    font-weight: bolder;
}

