@import "animations.css";

#BACKGROUND {
    background-color: #FFCCD5;
}

.Container {
    position: relative;
    top: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Construction__text {
    animation: colorway 1s infinite alternate-reverse;
    font-size: 2vw;
    font-family: 'Architects Daughter', cursive;
}

.Links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3vh;
}

.Links__Image {
    filter: brightness(0);
    background-size: 100%;
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    margin-left: 1vw;
}

.Links__Image:hover {
    opacity: 0.25;
}

.Links__Image--Github {
    background-image: url("/Assets/github-mark.png");
}

.Links__Image--Instagram {
    background-image: url("/Assets/Instagram_Glyph_Black.png");
}

.Links__Image--Twitter {
    background-image: url("/Assets/Twitter social icons - circle - white.png");
}

